[Unit]
Description=TV Slider flask service 
Wants=network-online.target
After=network-online.target

[Service]
ExecStartPre=/bin/sh -c 'until ping -c1 google.com; do sleep 1; done;'
ExecStart=/usr/bin/python3 -u tv_slider_flask_server.py
WorkingDirectory=/home/pi/tv-slider/scripts
StandardOutput=append:/home/pi/tv-slider/tv-slider.log
StandardError=append:/home/pi/tv-slider/tv-slider.log
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
