[Unit]
Description=TV Slider flask service 
Wants=network-online.target
After=network-online.target

[Service]
User=pi
ExecStartPre=/bin/sh -c 'until ping -c1 google.com; do sleep 1; done;'
WorkingDirectory=/home/pi/tv-slider/react-flask-app/api
ExecStart=/home/pi/.venv/bin/flask run
StandardOutput=append:/home/pi/tv-slider/tv-slider.log
StandardError=append:/home/pi/tv-slider/tv-slider.log
Restart=always

[Install]
WantedBy=multi-user.target
