<!DOCTYPE html>
<html>
  <head>
    <title>TV Slider</title>
  </head>
  <script>
  function callRestAPI(url) {
      var xhttp = new XMLHttpRequest();
 
      xhttp.onreadystatechange = function() {
        if (xhttp.readyState === 4) {
          document.getElementById("output").innerHTML = xhttp.response;
        }
      }

      xhttp.open('GET', url);
      xhttp.setRequestHeader('Content-Type', 'application/json');
      xhttp.send();
  }
  </script>
  <body >
    <table align="center">
    <tr>
      <td width=120>
      <button type="submit" onclick="callRestAPI('/move/in')">Move in</button>
      </td>
    </tr>
    <tr>
      <td width=120>
      <button type="submit" onclick="callRestAPI('/move/out')">Move out</button>
      </td>
    </tr>
    <tr>
      <td width=120>
      <button type="submit" onclick="callRestAPI('/stop')">Stop</button>
      </td>
    </tr>
    <tr>
      <td width=120>
      <button type="submit" onclick="callRestAPI('/sensors/get')">Sensors</button>
      </td>
    </tr>
    <tr>
      <td width=120>
      <p id="output"></p>
      </td>
    </tr>
    </table>
  </body>
</html>
